@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">前台會員系統練習</h1>
        <p class="lead">Webpage Designer : 姚啟翔</p>
        <p class="lead">E-mail : terry03125@gmail.com</p>
        <p><a href="https://github.com/s10415293/Frontend_Member" class="btn btn-primary btn-md">連結至Github專案頁面 &raquo;</a></p>
    </section>

    
</main>